youtube-transcript-summariser-n8n.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Inforgraphic Creator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What's the yt video link"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "55cec405-48ce-4257-b956-0c6851038ab2",
      "name": "On form submission",
      "webhookId": "10d5ab7f-3c8b-490d-bd26-4a4f6b843a93"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/pintostudio~youtube-transcript-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrl",
              "value": "={{ $json['What\\'s the yt video link'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "79d411b3-19c1-4552-8bae-e517795ecd76",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pWTX0xVCCfZAD4af",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=generate the summary of the given transcript of a youtube video :-  {{ $json.data.map(x=>x.text) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "e342fb2b-cedd-4cef-8a66-cd765088c883",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aZRix6q97dj0p94Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "19c4ea47-a352-415b-8b8e-823574409a2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad264575d51ee71316c37f76f8f2a42fa2d8f4d2e99105a6234f655ec445f480"
  },
  "id": "t1Tq6EgbdPVJmrO6",
  "tags": []
}